.headernav
  :markdown
    # roots
.content
  :markdown
    ## Jade + Stylus + coffee script + more　on node.js

    ### How to Use
    - インストール $ npm install roots -g
    - 新規作成 $ roots new プロジェクト名
    - ファイル監視&コンパイル $ roots watch
    - herokuにアップロード $ roots deploy herokuプロジェクト名

    ### System Requirements
    - node.js
    - npm   

    昨今人気が出てきている　CSSプロセッサー（SassやLess、Stylus等）はCSSを簡単に使いやすくするテンプレートとして利用できます。それのHTML版とも言えるのがJade Templateです。詳しくは[こちら](http://jade-lang.com/ "Jade")。それらを統合して簡単につかえるのがrootsです。まさに流行の最先端と言えるでしょう。

    当然、流行のファイル管理Gitを利用してファイル管理を行い、Herokuにも1コマンドで簡単にデプロイできるところもオススメの点です。

    このページはrootsにて作られています。



    


