@import '_settings'

normalize()
base()


body
  background: blue
  color: #fff
  font-size:200%

h1,h2
  margin 0
  padding 0
  border none
  font-size 150%
  
h3
  border-top: 1px solid;

.headernav
  height: 50px
  background: #000
  opacity:0.75
  position: fixed
  width: 100%
  z-index: 10
  color: blue
  padding-bottom 10px
  
.content 
  width: 100%
  position: relative
  top: 100px

.row
  max-width: 960px
  margin: 0 auto

.mainimg
  height: 550px
  background: yellow
  overflow: hidden

img
  border: none


footer
  height: 500px
  background: #000
  opacity:0.75
  clear: both
  margin-top 200px
  padding-top 20px
  text-align center
  font-size 80%


a
  color: #fff

